* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div {
  background-color: darkgreen;
  border: 1px solid black;
  border-radius: 100%;
  font-size: 2rem;
  width: 150px;
  height: 150px;
  margin: 0 auto 2rem 0;
  text-align: center;
  line-height: 145px;
  color: #fff;
  position: relative;
}

/* Definiranje animacije, vremena animacije i timing funkcije */

div:first-of-type {
  animation: izborImenaAnimacijeJeNaVama 2s linear;
}

@keyframes izborImenaAnimacijeJeNaVama {
  0% {
    left: 0;
  }
  100% {
    left: 1000px;
    background: red;
  }
}

div:nth-of-type(2) {
  animation: animacija2 4s linear;
}

@keyframes animacija2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* timing delay - odgoda izvršavanja kao kod transitiona */
div:nth-of-type(3) {
  animation: animacija3 2s linear 2s;
}

@keyframes animacija3 {
  0% {
    left: 0;
  }
  50% {
    left: 1000px;
  }
  100% {
    left: 0;
  }
}

/* definiranje broja iteracija animacije - možemo ju definirati brojem i možemo ju definirati beskonačno (infinite) */
div:nth-of-type(4) {
  animation: animacija4 2s linear 1s 2;
}

@keyframes animacija4 {
  0% {
    left: 0;
  }
  100% {
    left: 50%;
  }
}

/* Smjer animacije : normal | reverse | alternate | alternate-reverse */

div:nth-of-type(5) {
  animation: animacija5 2s linear 2 normal;
}

@keyframes animacija5 {
  0% {
    left: 0;
    background: red;
  }
  100% {
    left: 50%;
  }
}

/* Animation fill mode: none | forwards | backwards | both */

div:nth-of-type(6) {
  animation: animacija6 4s linear 2s reverse forwards;
}

@keyframes animacija6 {
  0% {
    left: 0;
  }
  100% {
    left: 50%;
  }
}
