* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  flex-basis: 20%;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  display: block;
  background-color: #000;
}

nav a:hover {
  background-color: hotpink;
}

.podlista {
  display: none;
}

nav ul li:hover .podlista {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
