* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 3rem auto;
  padding: 2rem;
}

h1 {
  margin-left: 1rem;
}

input {
  margin: 2rem 0;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
}

.form-input-filter {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
}

.btn-link {
  background: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-link > i {
  padding: 1rem;
}

.form-control .btn-link {
  padding-right: 1rem;
}

.btn-link:hover {
  background-color: #444;
}

.btn-clear {
  margin: 2rem auto;
  background-color: transparent;
  border: 1px solid black;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s;
}

.btn-clear:hover {
  background-color: #444;
  color: #fff;
}

.zadatak {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 2rem;
}

.pojedinacni-zadatak {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: calc(50% - 1rem);
  border: 1px solid black;
  padding: 1rem 2rem;
  font-weight: bold;
}
