* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  padding: 3rem;
  font-size: 3rem;
  background-color: beige;
}

.card {
  display: flex;
  justify-content: center;
  background-color: cornflowerblue;
  color: #fff;
  border-radius: 5px;
}

.rating {
  background-color: crimson;
  color: #fff;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  position: relative;
  top: 1rem;
  left: 1rem;
  text-align: center;
}

.text-display {
  padding: 1rem;
}

button {
  background-color: indianred;
  position: relative;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1.2rem;
  padding: 5px;
  bottom: 2rem;
  border-radius: 5px;
  cursor: pointer;
}

.lista-kartica {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: 5rem auto;
  justify-items: center;
  gap: 5rem;
}

.flip {
  background-color: beige;
  color: #000;
}

.stats {
  display: flex;
  width: 80%;
  margin: 2rem auto;
  justify-content: space-around;
}

.stats p {
  background-color: blanchedalmond;
  padding: 1.5rem 1rem;
  border: 1px solid black;
  font-size: 1.3rem;
}

.input-forma {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.input-grupa input[type="text"] {
  padding: 8px;
  height: 2.3rem;
  border: none;
  outline: none;
}

.input-grupa button {
  margin-left: 1rem;
  bottom: -2px;
  padding: 9px;
}

.ocjena {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.form-control {
  display: grid;
  grid-template-columns: 1rem auto;
  gap: 0.5rem;
  font-weight: bold;
  line-height: 1.4;
}

input[type="radio"] {
  appearance: none;
  background-color: crimson;
  margin: 0;
  color: #fff;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  transform: translateY(-0.075rem);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  transform: scale(0);
  transition: 0.1s transform ease-in-out;
  box-shadow: inset 1rem 1rem #fff;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15rem) solid #000;
  outline-offset: max(2px, 0.15rem);
}
